@inherits LayoutComponentBase

<div>
    <div>
        <NavMenu/>
    </div>

    <main class="mx-4 my-2">
        <div id="notification" class="fixed right-0"></div>
        <article>
            @Body
        </article>
    </main>
</div>