<div>
    <div>
        <a href="">Backlog-Blazor</a>
        <button title="Navigation menu" @onclick="ToggleNavMenu">
            <span></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div>
            <NavLink href="counter">
                <span aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div>
            <NavLink href="fetchdata">
                <span aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}