@using BacklogBlazor.Icons
@using BacklogBlazor.Services
@using System.Net

<nav class="bg-amber-500">
    @* Top Bar *@
    <div class="mx-auto px-6">
        <div class="flex h-12 items-center justify-between">
            <button class="items-center justify-start" @onclick="ToggleNavMenu">
                <HeroIcons Icon="HeroIcons.HeroIcon.Bars3_Outline"/>
            </button>
            <div class="justify-center">
                <a>GameLog</a>
            </div>
            <div class="right-0">
                <button class="flex items-center rounded-full hover:opacity-50" @onclick="TempNavigateToLogin">
                    <img alt="Profile Avatar" src="icon-192.png" class="rounded-full h-10 w-10"/> @* TODO: temporary profile avatar *@
                    <div class="absolute flex items-center justify-center h-10 w-10 rounded-full opacity-0 hover:opacity-100">
                        <HeroIcons Icon="HeroIcons.HeroIcon.AdjustmentsHorizontal_Solid" Class="absolute"/>
                    </div>
                </button>
            </div>
        </div>
    </div>
    
    @* Under Bar *@
    <div class="flex items-center justify-start my-0 mx-auto px-6 h-16 bg-amber-300 @NavMenuCssClass">
        @if (AuthorizedApiService.User.IsAuthenticated)
        {
            <button type="button" title="Create New Backlog" @onclick="CreateNewBacklog">
                <HeroIcons Icon="HeroIcons.HeroIcon.Plus_Outline" Class="p-1 drop-shadow border rounded-md border-slate-700 bg-amber-500 hover:bg-amber-600 hover:border-2 hover:drop-shadow-md"/>
            </button>
            <div class="px-10">Test1</div>
            <div class="px-10">Test2</div>
            <NavLink href="backlog/list">Your Backlogs</NavLink>
        }
        else
        {
            <div>Please login...</div>
        }
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "hidden" : null;

    [Inject] 
    private NavigationManager Nav { get; set; }    
    
    [Inject]
    private AuthorizedApiService AuthorizedApiService { get; set; }
    
    [Inject]
    private NotificationService NotificationService { get; set; }

    protected override void OnInitialized()
    {
        Nav.LocationChanged += CloseNavMenu;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        StateHasChanged();
    }

    private void CloseNavMenu(object? sender, LocationChangedEventArgs locationChangedEventArgs)
    {
        collapseNavMenu = true;
        StateHasChanged();
    }

    private async Task CreateNewBacklog()
    {
        await AuthorizedApiService.CreateNewBacklog(Nav, NotificationService);
    }
           
    private void TempNavigateToLogin()
    {
        Nav.NavigateTo("/login");
    }

}